h1{
    text-align: center;
}

.wrap {
    display: flex;
    justify-content: center;
    align-items: center;

}

 .container-span{
    display: flex;
    flex-direction: column;
    height: 100%;

}

.container-input{
    display: flex;
    flex-direction: column;

}
input + input{
    margin-top: 20px;
}
span + span{
    margin-top: 20px;
}