<!Doctype html>
<html lang="ko">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bulma CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>

    <title> 미니 프로젝트 </title>

    <link href="../static/css/index.css" type="text/css" rel="stylesheet">

</head>

<body>
<div class="wraper">

    <div class="header_nav">
        <h1>로고</h1>
        <button id="log-out" class="primary-btn" onclick="sign_out()">로그아웃</button>
    </div>
    <main>
        <header>
            <div class="header-wrap">
                <img src="/static/img/유튜브_기본프로필_파랑.jpg">
                <div class="greetings-wrap">
                    <div id="nickName">@{{user_info.nickName}}</div>
                    <div id="greetings">인사 말</div>

                </div>
            </div>
            <div class="group-btn">
                <button class="primary-btn id="editBtn" onclick="showEditModal()">프로필 수정</button>
                <button class="primary-btn" id="change-pw" onclick="showPwModal()">비밀번호 변경</button>

            </div>
            <hr/>

        </header>
        <!--       프로필 수정 모달 -->
                <div id="edit-modal" class="modal-overlay">
                    <div class="modal-window">
                        <div class="title">
                            <h2>프로필 수정</h2>
                        </div>
                        <div class="close-area" onclick="closeEditModal()">X</div>
                        <div class="content">
                            <label class="label">닉네임</label>
                            <input class="input" type="text" placeholder="Text input">
                            <label class="label">인사말</label>
                            <textarea class="textarea" placeholder="Textarea"></textarea>

                            <div class="file has-name is-left">
                                <label class="file-label">
                                    <input class="file-input" type="file" name="resume">
                                    <span class="file-cta">

                                      <span class="file-label">
                                        Choose a file…
                                      </span>
                                    </span>
                                    <span class="file-name">

                                    </span>

                                </label>

                            </div>
                            <div class="button-edit">

                                <img id="preview-image" src="/static/img/유튜브_기본프로필_파랑.jpg">

                                <button class="button is-primary" onClick="onEditInfo">변경하기</button>
                            </div>

                        </div>
                    </div>
                </div>
        <!--                  비밀번호 변경 모달 -->
        <div id="pw-modal" class="modal-overlay">
            <div class="modal-window-pw">
                <div class="title">
                    <h2>비밀번호 변경</h2>
                </div>
                <div class="close-area" onclick="closePwModal()">X</div>
                <div class="content">

                    <div class="field">
                        <input class="input" type="password" placeholder="바꿀 비밀 번호">

                    </div>
                    <div class="field">
                        <input class="input" type="password" placeholder="다시 입력">

                    </div>
                    <div class="button-edit">
                        <button class="button is-primary">변경하기</button>
                    </div>
                </div>
            </div>
        </div>


        <div class="space"></div>

    </main>
    <!--    <span>사용자 ID:{{user_info.id}}</span>-->

    <!--    <button>닉네임변경</button>-->
    <!--    <button>비밀번호변경</button>-->
</div>

<script src="../static/js/index.js"></script>
</body>

</html>