<html></html><!Doctype html>
<html lang="ko">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">

    <!-- JS -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>

    <title> 미니 프로젝트 </title>

    <link href="../static/css/login.css" type="text/css" rel="stylesheet">
    <script src="../static/js/login.js"></script>
</head>
<body>
<div class="wrap">
    <img src="../static/img/11111.png" id="logo"/>
    <div class="container-login">
        <div class="container-input">
            <input placeholder="ID" id="ID"/>
            <input placeholder="PW" id="PW"/>
        </div>
        <div class="container-btn">
            <button onclick="onLogin()">로그인</button>
            <button onclick="goSignUp()">회원가입</button>
        </div>
    </div>
</div>

</body>
</html>