<html></html><!Doctype html>
<html lang="ko">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.js"></script>

    <title> 미니 프로젝트 </title>

    <link href="../static/css/sign.css" type="text/css" rel="stylesheet">
    <script src="../static/js/sign.js"></script>
</head>
<body>

    <div class="wrap">
        <div class="container-span">
            <span>아이디:</span>
            <span>패스워드 확인:</span>
            <span>패스워드:</span>
            <span>닉네임:</span>
        </div>
        <div class="container-input">
            <input placeholder="아이디" id="id"/>
            <input type="password" placeholder="패스워드" id="pw"/>
            <input type="password" placeholder="패스워드 확인" id="repw"/>
            <input placeholder="닉네임" id="nicknName"/>
        </div>

    </div>
<button onclick=" onSign()">등록하기</button>

</body>
</html>