<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <nav>
        <div id="horizontal-underline"></div>
        <a href="#">About</a>
        <a href="#">Menu</a>
        <a href="#">Store</a>
        <a href="#">Service</a>
        <a href="#">Responsibility</a>
    </nav>

    <nav>
        <div id="vertical-underline"></div>
        <a href="#">About</a>
        <a href="#">Menu</a>
        <a href="#">Store</a>
        <a href="#">Service</a>
        <a href="#">Responsibility</a>
    </nav>


    <script src="main.js"></script>
</body>
</html>