<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bulma CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
        <!-- JS -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
        <!-- 구글폰트 -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Stylish&display=swap" rel="stylesheet">

        <!-- 스타일시트 -->
        <link rel="stylesheet" href="/static/styles/style.css"/>

    </head>
    <body>
        <section class="hero is-small is-white">
            <figure class="image is-64x64">
                <a href="/"><img src="static/img/ms-icon-70x70.png"></a>
            </figure>
        </section>
        <section class="hero is-white">
            <div class="hero-body has-text-centered" style="padding:3rem;">
                <h1 class="title sub">회원가입</h1>
            </div>
        </section>
        <section class="section">
            <div class="container">
                <div class="box" style="max-width: 525px;margin:50px auto auto auto;padding:50px;">
                    <article class="media">
                        <div class="media-content">
                            <div class="content">
                                <div class="field has-addons">
                                    <div class="control" style="width:100%">
                                        <input id="userid" class="input" type="text" placeholder="아이디를 입력해주세요.">
                                    </div>
                                    <div id="btn-check-dup" class="control">
                                        <button class="button duplicate" onclick="check_dup()">중복확인</button>
                                    </div>
                                </div>
                                <p id="help-id" class="help">아이디는 2-10자의 영문과 숫자와 일부 특수문자(._-)만 입력 가능합니다.</p>
                                <div class="field has-addons">
                                    <div class="control" style="width:100%">
                                        <input id="nickname" class="input" type="text" placeholder="닉네임을 입력해주세요.">
                                    </div>
                                    <div id="btn-check-dup" class="control">
                                        <button class="button duplicate" onclick="check_dup()">중복확인</button>
                                    </div>
                                </div>
                                <p id="help-id" class="help">닉네임을 입력해주세요.</p>
                                <div class="field">
                                    <div class="control">
                                        <input id="password" class="input" type="password" placeholder="비밀번호를 입력해주세요.">
                                    </div>
                                    <p id="help-password" class="help">영문과 숫자 조합의 8-20자의 비밀번호를 설정해주세요. 특수문자(!@#$%^&*)도
                                        사용 가능합니다.</p>
                                </div>
                                <div class="field">
                                    <div class="control">
                                        <input id="password_chk" class="input" type="password" placeholder="비밀번호를 재입력해주세요.">
                                    </div>
                                    <p id="help-password" class="help">비밀번호를 다시 한 번 입력해주세요.</p>
                                </div>
                                <nav class="level is-mobile">
                                    <button class="level-item button register" onclick="sign_up()">
                                        등록
                                    </button>
                                    <button class="level-item button cancel" onclick="toggle_sign_up()">
                                        취소
                                    </button>
                                </nav>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </section>
    </body>
</html>