<!Doctype html>
<html lang="ko">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bulma CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>

    <title> 미니 프로젝트 </title>

    <link href="../static/styles/user.css" type="text/css" rel="stylesheet">

</head>

<body>
<div class="wraper">
    <div class="header_nav">
        <h1>로고</h1>
        <button id="log-out" class="primary-btn" onclick="sign_out()">로그아웃</button>
    </div>
    <main>
        <header>
            <div class="header-wrap">
                <img src={{ url_for('static',filename="/img/profile/"+user_info.profile_pic_real) }}/>
                <div class="greetings-wrap">
                    <div id="nickName">{{ user_info.nickname }}</div>
                    <div id="greetings">{{ user_info.profile_greeting }}</div>

                </div>
            </div>
            <div class="group-btn">
                <button class="primary-btn" id="editBtn" onclick="showEditModal()">프로필 수정</button>
                <button class="primary-btn" id="change-pw" onclick="showPwModal()">비밀번호 변경</button>

            </div>
            <hr/>

        </header>
        <!--       프로필 수정 모달 -->
        <div id="edit-modal" class="modal-overlay">
            <div class="modal-window">
                <div class="title">
                    <h2>프로필 수정</h2>
                </div>
                <div class="close-area" onclick="closeEditModal()">X</div>
                <div class="content">
                    <label class="label">닉네임</label>
                    <input id="edit-nickName" class="input" type="text" placeholder={{ user_info.nickname }}>
                    <label class="label">인사말</label>
                    <textarea id="edit-greeting" class="textarea" placeholder={{ user_info.profile_greeting }}></textarea>

                    <div class="file has-name is-left">
                        <label class="file-label">
                            <input id="file" class="file-input" type="file" name="resume">
                            <span class="file-cta">

                                      <span class="file-label">
                                        파일선택
                                      </span>
                                    </span>
                            <span class="file-name">
                                이미지 경로
                            </span>

                        </label>

                    </div>
                    <div class="button-edit">

                        <img id="preview-image"
                             src={{ url_for('static',filename="/img/profile/"+user_info.profile_pic_real) }}>

                        <button class="button is-primary" onClick="onEditInfo()">변경하기</button>
                    </div>

                </div>
            </div>
        </div>
        <!--비밀번호 변경 모달 -->
        <div id="pw-modal" class="modal-overlay">
            <div class="modal-window-pw">
                <div class="title">
                    <h2>비밀번호 변경</h2>
                </div>
                <div class="close-area" onclick="closePwModal()">X</div>
                <div class="content">

                    <div class="field">
                        <input onchange="checkPw()" id="pw" class="input" type="password" placeholder="바꿀 비밀 번호">
                        <p id="help-password" class="help ">영문과 숫자 조합의 8-20자의 비밀번호를 설정해주세요. 특수문자(!@#$%^&*)도 사용
                            가능합니다.</p>
                    </div>
                    <div class="field">
                        <input onchange="chkRePw()" id="chkPw" class="input" type="password" placeholder="다시 입력">
                        <p id="help-password2" class="help ">비밀번호를 다시 한 번 입력해주세요.</p>
                    </div>
                    <div class="button-edit">
                        <button class="button is-primary" onclick="onChangePw()">변경하기</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="space"></div>
        <!--        포스트 오면 됌-->
    </main>
</div>
<script id="template-list-item" type="text/template">
    {{ user_info.username }}
</script>
<script src="../static/js/user.js"></script>
</body>

</html>