a:hover {
    text-decoration: inherit;
    color: currentColor;

}

.header_nav {
    width: calc(100% - 2rem);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

main {
    width: 768px;
    margin-left: auto;
    margin-right: auto;
}

.primary-btn {
    height: 2.5rem;
    padding-bottom: calc(0.5em - 1px);
    padding-left: calc(0.75em - 1px);
    padding-right: calc(0.75em - 1px);
    padding-top: calc(0.5em - 1px);
    text-align: center;
    justify-content: center;
    font-size: 1rem;
    border-radius: 4px;
    border: none;
    outline: none;
    font-weight: bold;
    transition: all 0.125s ease-in 0s;

    cursor: pointer;
    background: #0bb068;
    color: whitesmoke;
}

header {
    margin-top: 5.625rem;
    padding-left: 1rem;
    padding-right: 1rem
}

.header-wrap {
    display: flex;
    align-items: center;
}

img {
    display: block;
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    object-fit: cover;
}

.greetings-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 1rem;
}

.greetings-wrap :first-child {
    font-size: 1.5rem;
    line-height: 1.5;
    font-weight: bold;

}

.greetings-wrap :last-child {
    font-size: 1.125rem;
    line-height: 1.5;
    margin-top: 0.25rem;

}

.group-btn {
    display: flex;
    justify-content: center;
}

.group-btn > button {
    margin: 20px;
}

.space {
    height: 1rem;
    margin-top: 2rem;
    box-shadow: rgb(0 0 0 / 4%) 0px 8px 8px -8px inset, rgb(0 0 0 / 4%) 0px -8px 8px -8px inset;
    display: none;
}


.modal-overlay {

    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(1.5px);
    -webkit-backdrop-filter: blur(1.5px);

    border: 1px solid rgba(255, 255, 255, 0.18);

    display: none;
}

.modal-window {

    background: rgba(255, 255, 255);

    backdrop-filter: blur(13.5px);
    -webkit-backdrop-filter: blur(13.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    width: 400px;
    height: 650px;
    position: relative;

    padding: 10px;
}

.modal-window-pw {

    background: rgba(255, 255, 255);

    backdrop-filter: blur(13.5px);
    -webkit-backdrop-filter: blur(13.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    width: 400px;
    height: 350px;
    position: relative;

    padding: 10px;
}

.title {
    padding-left: 10px;
    display: inline;

    color: black;

}

.title h2 {
    display: inline;
}

.close-area {
    display: inline;
    float: right;
    padding-right: 10px;
    cursor: pointer;


}

.content {
    margin-top: 20px;
    padding: 0px 10px;

}

.modal-overlay label {
    margin-top: 1rem;
}

.button-edit {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.button-edit > img {
    margin-top: 2rem;

}

.button-edit > button {
    margin-top: 2rem;

}

.file-name {
    width: 16rem;
}

.mycards {
    margin: 20px auto 0px auto;
    width: 95%;
    max-width: 1200px;
}

.card-title.plan {
    font-weight: bold;
}

.card-body:hover {
    background-color: #effff6;
    cursor: pointer;
}

.title.card-section {
    font-size: 45px;
    font-family: 'Gamja Flower', cursive;
    font-family: 'Single Day', cursive;
}